.a
{
    background-color : #104010;
}
.aa
{
    background-color : #283810;
}
.ad
{
    background-color : #285020;
}
.i
{
    background-color : #502010;
}
.ia
{
    background-color : #581008;
}
.id
{
    background-color : #482808;
}
.f
{
    background-color : #484010;
}
.fa
{
    background-color : #403810;
}
.fd
{
    background-color : #404020;
}
.m
{
    background-color : #103030;
}
.ma
{
    background-color : #282028;
}
.md
{
    background-color : #284030;
}
