.orbitcolumn
{
    width : 30pt;
}
.numbercolumn
{
    width : 30pt;
}
.freeplanet
{
    background-color : #003010;
}
.takenplanet
{
    background-color : #082830;
}
.unknownplanet
{
    background-color : #282828;
}
.siegedplanet
{
    background-color : #682020;
}
.freeplanetnocul
{
    background-color : #205020;
}
.takenplanetnocul
{
    background-color : #303830;
}
.unknownplanetnocul
{
    background-color : #404028;
}
.siegedplanetnocul
{
    background-color : #803838;
}
.lackofplanet
{
  background-color : #111111;
}
b
{
    color : #c0c0c0;
}
