.racelegend
{
    background-color: #202070;
    font-weight : bold;
}
.race2
{
    background-color: #703000;
}
.race3
{
    background-color: #683800;
}
.race4
{
    background-color: #604000;
}
.race5
{
    background-color: #584800;
}
.race6
{
    background-color: #505000;
}
.race7
{
    background-color: #485800;
}
.race8
{
    background-color: #406000;
}
.race9
{
    background-color: #386800;
}
.race10
{
    background-color: #307000;
}
.scan
{
    width: 200px;
}