BODY,TABLE{background-color:black;font-size:10pt;}
BODY,H1,A,TABLE{font-family:Verdana,Arial,Helvetica,sans-serif;color:#e0e0e0;text-decoration:none;border:0;}
A{color:#9999ff;}
TABLE{text-align:center;padding:0px;border-spacing:0px;}
TD{border:1px solid #000000;padding:0;margin:0;background-color:#181840;}
A:hover{color:#aaaaff;}
.sh{width:20pt;}
.t TD{background-color : #402010;}
.r TD{background-color : #702010;}