.n0{background-color: #808015;}
.n1{background-color: #181880;}
.n2{background-color: #803008;}
.n3{background-color: #186018;}
.n4{background-color: #304400;}
.n5{background-color: #702000;}
.nn{background-color: #4d1808;}
.nrm{text-align:left;font-size:8pt;}
.q{text-align:left;font-size:8pt;background:black;}