.racetable td {
padding: 0;
}
.racevalue {
width: 60px;
height: 60px;
vertical-align: middle;
text-align: center;
font-size: 16pt;
border: 0;
}
.neg4 {
  background-color: #381800;
}
.neg3 {
  background-color: #341c00;
}
.neg2 {
  background-color: #302000;
}
.neg1 {
  background-color: #2c2400;
}
.zero {
  background-color: #282800;
}
.pos1 {
  background-color: #242c00;
}
.pos2 {
  background-color: #203000;
}
.pos3 {
  background-color: #1c3400;
}
.pos4 {
  background-color: #183800;
}
.neg4[data-selected] {
  background-color: #703000;
}
.neg3[data-selected] {
  background-color: #683800;
}
.neg2[data-selected] {
  background-color: #604000;
}
.neg1[data-selected] {
  background-color: #584800;
}
.zero[data-selected] {
  background-color: #505000;
}
.pos1[data-selected] {
  background-color: #485800;
}
.pos2[data-selected] {
  background-color: #406000;
}
.pos3[data-selected] {
  background-color: #386800;
}
.pos4[data-selected] {
  background-color: #307000;
}
