.planetname
{
    width : 128pt;
}
.population
{
    width : 18pt;
    background-color : #103820;
}
.populationh
{
    width : 24pt;
    background-color : #103820;
}
.pp
{
    width : 64pt;
    background-color : #103040;
}
.pph
{
    width : 24pt;
    background-color : #103040;
}
.tx
{
    width : 16pt;
    background-color : #382010;
}
.takenplanetover TD
{
    background-color : #405080;
}
.siegedplanetover TD
{
    background-color : #805040;
}