.newstype0
{
    background-color: #ffffe0;
    font-weight : bold;
    width : 150px;
}
.newstype1
{
    background-color: #e0e0ff;
    font-weight : bold;
    width : 150px;
}
.newstype2
{
    background-color: #ffc0a0;
    font-weight : bold;
    width : 150px;
}
.newstype3
{
    background-color: #e8ffe0;
    font-weight : bold;
    width : 150px;
}
.newstype4
{
    background-color: #e0f8d8;
    font-weight : bold;
    width : 150px;
}
.newstype5
{
    background-color: #ffe0d0;
    font-weight : bold;
    width : 150px;
}
.newsnew
{
    background-color: #ffe0e0;
    width : 480px;
}
.normtext
{
    text-align : left;
    width : 480px;
}