.hiding
{
        display : none;
}
.planetcell
{
    width : 140px;
}
.ppline
{
    background-color : #307050
}
.levelnum
{
    font-size : 24pt;
    width : 80px;
    height : 60px;
    border : 0;
    vertical-align : bottom;
}
.smallcell
{
    height : 60px;
    vertical-align : middle;
}
.shipnum
{
    font-size : 24pt;
    width : 160px;
    height : 60px;
    border : 0;
    vertical-align : bottom;
}
.construction
{
    width : 180px;
}
.positive
{
    color : #40a020;
}
.negative
{
    color : #c05020;
}
.additional
{
    font-size : 7pt;
    border : 0;
}
.lefttitle
{
    width : 150px;
}
.maintitle
{
    width : 400px;
}
.righttitle
{
    width : 150px;
}
.explain
{
    vertical-align : top;
    text-align : left;
    font-size : 7pt;
}
.object
{
    height : 70px;
}
.incbutton
{
    border-right: #a0a0a0 1px solid;
    border-top: #c0c0c0 1px solid;
    border-left: #b0b0b0 1px solid;
    border-bottom: #909090 1px solid;
    font-size: 8pt;
    font-weight : bold;
    color : #5050ff;
    background-color: #101050;
    margin : 0;
    padding-left : 0;
    padding-right : 0;
    width : 12pt;
}
.allbutton
{
    border-right: #a0a0a0 1px solid;
    border-top: #c0c0c0 1px solid;
    border-left: #b0b0b0 1px solid;
    border-bottom: #909090 1px solid;
    font-size: 8pt;
    font-weight : bold;
    color : #b050b0;
    background-color: #501050;
    margin : 0;
    padding-left : 0;
    padding-right : 0;
    width : 12pt;
}
.typeexpl
{
    font-size: 8pt;
}
.planetrow
{
width : 706px;
}
.lowlabel
{
width : 180px;
}
.lowgap
{
width : 380px;
}
.buildbox
{
  position : absolute;
  left : 100px;
  top : 5px;
  background-color : #339900;
}


.resourceslabel
{
width : 110px;
}
.resourcesgap
{
width : 110px;
}
.resobject
{
  position : relative; 
  width : 160px;
  height : 120px;
  background-color : #333333;
}
.resvalue
{
width : 160px;
height : 80px;
display: table-cell;
vertical-align: middle;
}
.resprogress
{
  position : absolute;
  bottom : 8pt;
  left : 0px;
  width : 160px;
}
.resincome
{
  position : absolute;
  bottom : 0pt;
  left : 0px;
  width : 80px;
}
.restimerem
{
  position : absolute;
  bottom : 0pt;
  left : 80px;
  width : 80px;
}

.resdetail
{
  position : absolute;
  left : 10px;
  top : 80px;
  width : 120px;
  display : none;
  background-color : #335333;
  padding : 4px 8px;
  border-right: #a0a0a0 1px solid;
  border-top: #c0c0c0 1px solid;
  border-left: #b0b0b0 1px solid;
  border-bottom: #909090 1px solid;
  z-index : 400;
}
.resobject:hover div.resdetail
{
display : block;
}



.buildingslabel
{
width : 94px;
}
.bldobject
{
  position : relative; 
  width : 120px;
  height : 100px;
  background-color : #333333;
}
.bldvalue
{
width : 120px;
height : 70px;
display: table-cell;
vertical-align: middle;
}
.bldprogress
{
  position : absolute;
  bottom : 0pt;
  left : 0px;
  width : 120px;
}
.bldspend
{
position : absolute;
left : 40px;
bottom : 10pt;
width : 40px;
}
.bldobject:hover div.bldspend
{
display : block;
}
.bldbuild
{
position : absolute;
right : 4px;
top : 20px;
display : none;
}
.bldobject:hover div.bldbuild
{
display : block;
}
.bldbuild input
{
width : 20px;
height : 20px;
  background-color : #228000;
  color : #44bb00;
}
.bldbuild input:hover
{
  background-color : #44a800;
  color : #55ff00;
}



.constructlabel
{
width : 180px;
}
.cnstrobject
{
  position : relative; 
  width : 172px;
  height : 30px;
}
.cnstrtitle
{
height : 30px;
}
.cnstryes
{
  background-color : #224422;
}
.cnstrno
{
  background-color : #331111;
}
.cnstrvalue
{
width : 172px;
height : 20px;
position : absolute;
bottom : 0pt;
left : 0pt;
display : none;
}
.cnstrobject:hover div.cnstrvalue
{
display : block;
}



.highlabel
{
width : 130px;
}
.highobject
{
  position : relative; 
  width : 150px;
  height : 100px;
  background-color : #333333;
}
.highvalue
{
width : 150px;
height : 70px;
display: table-cell;
vertical-align: middle;
}
.highprogress
{
  position : absolute;
  bottom : 0pt;
  left : 0px;
  width : 150px;
}
.highspend
{
position : absolute;
left : 50px;
bottom : 10pt;
width : 50px;
}
.highobject:hover div.highspend
{
display : block;
}
.highbuild
{
position : absolute;
right : 4px;
top : 20px;
display : none;
}
.highobject:hover div.highbuild
{
display : block;
}
.highbuild input
{
width : 20px;
height : 20px;
  background-color : #228000;
  color : #44bb00;
}
.highbuild input:hover
{
  background-color : #44a800;
  color : #55ff00;
}

.ppspend {
  border-right: #a08080 3px solid;
  border-top: #c0a0a0 3px solid;
  border-left: #b09090 3px solid;
  border-bottom: #907070 3px solid;
  font-weight: bold;
  font-size: 11pt;
  background-color : #553333;
width : 700px;
}
.ppspend:hover
{
  background-color : #856303;
}
