.planetcell
{
    width : 140px;
}
.ppline
{
    background-color : #307050
}
.levelnum
{
    font-size : 24pt;
    width : 80px;
    height : 60px;
    border : 0;
    vertical-align : bottom;
}
.smallcell
{
    height : 60px;
    vertical-align : middle;
}
.shipnum
{
    font-size : 24pt;
    width : 160px;
    height : 60px;
    border : 0;
    vertical-align : bottom;
}
.construction
{
    width : 180px;
}
.positive
{
    color : #40a020;
}
.negative
{
    color : #c05020;
}
.additional
{
    font-size : 7pt;
    border : 0;
}
.lefttitle
{
    width : 150px;
}
.maintitle
{
    width : 400px;
}
.righttitle
{
    width : 150px;
}
.explain
{
    vertical-align : top;
    text-align : left;
    font-size : 7pt;
}
.object
{
    height : 70px;
}
.incbutton
{
    border-right: #a0a0a0 1px solid;
    border-top: #c0c0c0 1px solid;
    border-left: #b0b0b0 1px solid;
    border-bottom: #909090 1px solid;
    font-size: 8pt;
    font-weight : bold;
    color : #5050ff;
    background-color: #101050;
    margin : 0;
    padding-left : 0;
    padding-right : 0;
    width : 12pt;
}
.allbutton
{
    border-right: #a0a0a0 1px solid;
    border-top: #c0c0c0 1px solid;
    border-left: #b0b0b0 1px solid;
    border-bottom: #909090 1px solid;
    font-size: 8pt;
    font-weight : bold;
    color : #b050b0;
    background-color: #501050;
    margin : 0;
    padding-left : 0;
    padding-right : 0;
    width : 12pt;
}
.typeexpl
{
    font-size: 8pt;
}
.planetrow
{
width : 706px;
}
.restitle
{
width : 200px;
}
.resourceslabel
{
width : 180px;
}
.fresourceslabel
{
width : 104px;
}
.resourcesgap
{
width : 128px;
}
.lowlabel
{
width : 180px;
}
.lowgap
{
width : 380px;
}
.highlabel
{
width : 130px;
}
